[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
requests = "*"
nltk = "*"
numpy = "*"
pdfminer3 = "*"
openpyxl = "*"
flask = "*"
tensorflow = "*"
jupyterlab = "*"
matplotlib = "*"
scikit-learn = "*"
tensorflow-datasets = "*"
pydot = "*"
graphviz = "*"
jupyter = "*"
pydotplus = "*"
python-telegram-bot = "*"

[requires]
python_version = "3.7"
